body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $black;
    background-color: $white;
}

.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;

    @media screen and (min-width: 565px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 752px;
    }

    @media screen and (min-width: 992px) {
        max-width: 976px;
    }

    @media screen and (min-width: 1200px) {
        padding: 0 30px;
        max-width: 1140px;
    }

    @media screen and (min-width: 1600px) {
        max-width: 1540px;
    }

    .row {
        display: flex;
        align-items: center;

        &.jcsb {
            justify-content: space-between;
        }

        &.wrap {
            flex-wrap: wrap;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &__header {
        background-color: $black;
        color: $white;
        padding: 16px 0;
        margin-bottom: 16px;
    }

    &__main {
        flex-grow: 3;
    }

    &__footer {
        background-color: $black;
        color: $white;
        padding: 32px 0;
    }

    &__error {
        max-width: 500px;
        width: fit-content;
        margin: 16px auto;
        padding: 24px;
        border: 1px solid red;
        color: red;
    }
}

.header {

    &__title {
        margin-right: 32px;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $white;
            }
        }
    }
}
